:root {
  font-family: Quicksand, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "U8";
  src: url(./assets/fonts/GeneralSans-Regular.otf) format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

